# {{ .Name }} configuration
server:
  host: "0.0.0.0"
  port: 8080

log:
  level: info
  output: console
  request_enabled: true

openapi:
  enabled: true
  output: openapi.json
  title: "{{ .Name }} API"
  version: "1.0.0"

recovery:
  enabled: true
  return_stack_to_body: true
